* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root {
    font-size: 62.5%;
}

body {
    font-family: "Comic Neue", cursive;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: white;

    /*  background: #87CEEB; Sky blue background */
    background: #1C5FA8;
    /* Sky blue background */

    width: 100vw;
    height: 100vh;


    position: relative;
}


* img {
    /* Horizonta - Vertical - Blur radius - Spread Radius */
    box-shadow: 0 0 2.1rem 0.4rem rgb(255, 255, 255);
}

.navAjuste {
    position: sticky;
    top: 0;
    padding: 1.0rem;
    text-align: center;

}

header {
    position: relative;
    width: 100vw;
    background-color: #FDD835;



}

header h1 {
    margin: 2.0rem 0 2.0rem 0;
    color: white;
    font-size: 6.0rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

    gap: 1.5rem;
}


nav ul li a {
    font-size: 2.0rem;

    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover,
footer a:hover {
    color: #000;
    transition: 0.3s;
}

#home h2 {
    text-align: center;
    margin: 0 auto;

}

#characters ul li {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    margin: 2.0rem 5.0rem;
    list-style: none;
}

#characters img {
    width: 15.0rem;
    height: 15.0rem;

    border-radius: 50%;
    margin-bottom: 1.0rem;
}

#characters p {
    font-size: 2.0rem;
    font-weight: bold;
}

#characters a {
    text-decoration: none;
    color: white;

    cursor: pointer;
}

#characters a:hover {
    color: #ffcc00;
    transition: 0.3s;
}


main {
    padding: 1.8rem;
    text-align: center;
}

section {
    display: none;
}

.active {
    display: block;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5.0rem;

    width: 100%;
    padding: 1.0rem;
    margin: 0 auto;
}

.imgHome {
    width: auto;
    /* margin: 50px 50px 0 0; */

    border-radius: 1.0rem;
}

#content {
    width: 100%;
    margin: 0 auto;
}

#episodes p {
    margin: 1.5rem 0 3.0rem 0;

    font-size: 1.8rem;
}

#episodes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.allEpisodes {
    gap: 1.0rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.season {
    border: dashed 0.3rem #fff;

    border-radius: 1.5rem;

    margin: 1.0rem 0;

    min-width: 35.0rem;
}

.season h3 {
    background-color: #ffcc00;
    border-radius: 1.5rem 1.5rem 0 0;


    padding: 1.0rem;
    width: 100%;


}



iframe {
    width: 100%;

    border-radius: 0 0 1.5rem 1.5rem;
    margin-bottom: -0.3rem;


}


footer {
    width: 100%;

    display: inline-flex;
    justify-content: center;
    text-align: end;
    align-self: baseline;

    gap: 0.5rem;
    margin-bottom: 2.0rem;
}

footer a {
    color: white;
    font-weight: bold;

}
